---
BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 100

BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakAfterOpenBracketSwitch: false
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true

BreakBeforeBinaryOperators: All
